<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
	<!-- usersVO 타입으로 받아오겠다는 명시가 필요함. -->
	<insert id="join" parameterType="joinDto">
	        
	        <![CDATA[
	        	INSERT INTO USERS(USER_ID, USERNAME, EMAIL, PASSWORD, PHONE, ADDRESS, DETAIL_ADDRESS, ZIP_CODE, NOTE) VALUES 
	        	(
	        		users_seq.nextval,
	        		#{username},
	        		#{email},
	        		#{password},
	        		#{phone},
	        		#{address},
	        		#{detailAddress},
	        		#{zipCode},
	        		#{note}
	        	)
	        ]]>
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM USERS WHERE USERNAME=#{username}
	]]>
	</select>


	<!-- 이메일 중복 체크 -->
	<select id="emailCheck" parameterType="String" resultType="int">
	<![CDATA[
		SELECT COUNT(*) FROM USERS WHERE EMAIL=#{email}
	]]>
	</select>

	<!-- 로그인 시 사용자 정보 조회  -->
	<select id="getLoginUser" parameterType="String" resultType="loginDto">
		<![CDATA[
			SELECT * FROM USERS WHERE EMAIL=#{email}
		]]>
	</select>
	
	<!-- 이메일로 비밀번호 찾기 -->
	<select id="findPassword" parameterType="String" resultType="String">
		<![CDATA[
			SELECT PASSWORD FROM USERS WHERE EMAIL=#{email}
		]]>
	</select>
	
</mapper>

