<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="com.example.demo.mapper.UserMapper">
        
        <!-- usersVO 타입으로 받아오겠다는 명시가 필요함. -->
        <insert id="join" parameterType="usersVO">
        
        <![CDATA[
        	INSERT INTO USERS(USER_ID, USERNAME, EMAIL, PASSWORD, PHONE, ADDRESS, DETAIL_ADDRESS, ZIP_CODE, NOTE) VALUES 
        	(
        		users_seq.nextval,
        		#{username},
        		#{email},
        		#{password},
        		#{phone},
        		#{address},
        		#{detailAddress},
        		#{zipCode},
        		#{note}
        	)
        
        ]]>

        </insert>
        </mapper>