<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>

	<!-- SqlSessionTemplate 관련 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
 	</settings>
	
	<!-- 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="com.example.demo.vo.UsersVO" alias="usersVO"/>
		<typeAlias type="com.example.demo.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.example.demo.vo.CommentsVO" alias="commentsVO"/>
		<typeAlias type="com.example.demo.vo.UploadFileVO" alias="fileVO"/>
		<typeAlias type="com.example.demo.web.dto.auth.JoinDto" alias="joinDto"/>
		<typeAlias type="com.example.demo.web.dto.auth.LoginDto" alias="loginDto"/>
		<typeAlias type="com.example.demo.web.dto.board.BoardListDto" alias="boardListDto"/>
		<typeAlias type="com.example.demo.web.dto.board.BoardModifyDto" alias="boardModifyDto"/>
		<typeAlias type="com.example.demo.service.utils.RequestList" alias="requestList"/> 
		<typeAlias type="com.example.demo.web.dto.comment.CommentDto" alias="commentDto"/> 
		
	</typeAliases>

</configuration>	