<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>

	<!-- SqlSessionTemplate 관련 설정 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
 	</settings>
	
	<!-- 별칭 작성 부분 -->
	<typeAliases>
		<typeAlias type="com.example.demo.users.vo.UsersVO" alias="usersVO"/>
		<typeAlias type="com.example.demo.board.vo.BoardVO" alias="boardVO"/>
		<typeAlias type="com.example.demo.board.vo.BoardVO2" alias="boardVO2"/>
		<typeAlias type="com.example.demo.comment.vo.CommentsVO" alias="commentsVO"/>
		<typeAlias type="com.example.demo.file.vo.UploadFileVO" alias="fileVO"/>
		<typeAlias type="com.example.demo.users.dto.JoinDto" alias="joinDto"/>
		<typeAlias type="com.example.demo.users.dto.LoginDto" alias="loginDto"/>
		
		<typeAlias type="com.example.demo.board.dto.BoardListDto" alias="boardListDto"/>
		<typeAlias type="com.example.demo.board.dto.BoardModifyDto" alias="boardModifyDto"/>
		
		<typeAlias type="com.example.demo.board.dto.RequestList" alias="requestList"/> 
		<typeAlias type="com.example.demo.comment.dto.CommentDto" alias="commentDto"/> 	
	</typeAliases>

</configuration>	